<settings>    
    <category label="30100">
        <setting id="path" type="folder" label="30101"/>
        <setting id="quality_default" type="select" label="30102" values="360p|480p|720p|1080p" default="480p"/>                
        <setting id="frequency" type="slider" label="30103" option="int" range="1,1,24" default="6"/>
        <setting id="pause" type="slider" label="30104" option="int" range="1,1,10" default="5"/>
        <setting id="timeout" type="slider" label="30105" option="int" range="1,1,60" default="10"/>
        <setting type="action" label="30106" action="RunScript(plugin.video.steelchannels.studio, action=download)" option="close"/>
    </category>  
    <category label="30300">        
        <setting id="movie_page" type="number" label="30301" option="int" default="0"/>
        <setting id="serie_page" type="number" label="30302" option="int" default="0"/>         
        <setting id="num_page" type="slider" label="30303" option="int" range="1,1,10" default="10"/>
    </category>  
</settings>